<section id="work" class="min-h-screen">
  <h2 class="text-5xl font-bold mb-6">My Work</h2>
  <p class="text-xl text-gray-400 mb-6">I have worked on various projects ranging from small business websites to complex web applications.</p>
  
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Carta del Proyecto 1 -->
    <div class="bg-white rounded-lg shadow-lg overflow-hidden">
      <img src="/assets/img/Oragnizador.png" alt="Proyecto 1" class="w-full h-48 object-cover" />
      <div class="p-4">
        <h3 class="text-2xl font-semibold">Nombre del Proyecto 1</h3>
        <p class="text-gray-600 mt-2">Organizador de Archivos es una aplicación de escritorio desarrollada en Electron.js que permite a los usuarios organizar archivos en un directorio especificado.
</p>
        <div class="mt-4 flex space-x-4">
          <a href="https://github.com/OrlandoMartinez-developer/Organizador" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">GitHub</a>
          <a href="enlace-a-proyecto1" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Ver Proyecto</a>
        </div>
      </div>
    </div>

    <!-- Carta del Proyecto 2 -->
    <div class="bg-white rounded-lg shadow-lg overflow-hidden">
      <img src="ruta-a-imagen-proyecto2.jpg" alt="Proyecto 2" class="w-full h-48 object-cover" />
      <div class="p-4">
        <h3 class="text-2xl font-semibold">Reproductor de musica</h3>
        <p class="text-gray-600 mt-2">Descripción breve del proyecto, incluyendo tecnologías utilizadas y objetivos.</p>
        <div class="mt-4 flex space-x-4">
          <a href="enlace-a-github-proyecto2" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">GitHub</a>
          <a href="enlace-a-proyecto2" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Ver Proyecto</a>
        </div>
      </div>
    </div>

    <div class="bg-white rounded-lg shadow-lg overflow-hidden">
      <img src="ruta-a-imagen-proyecto2.jpg" alt="Proyecto 2" class="w-full h-48 object-cover" />
      <div class="p-4">
        <h3 class="text-2xl font-semibold">Nombre del Proyecto 3</h3>
        <p class="text-gray-600 mt-2">Descripción breve del proyecto, incluyendo tecnologías utilizadas y objetivos.</p>
        <div class="mt-4 flex space-x-4">
          <a href="enlace-a-github-proyecto2" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">GitHub</a>
          <a href="enlace-a-proyecto2" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Ver Proyecto</a>
        </div>
      </div>
    </div>
    
    <div class="bg-white rounded-lg shadow-lg overflow-hidden">
      <img src="ruta-a-imagen-proyecto2.jpg" alt="Proyecto 2" class="w-full h-48 object-cover" />
      <div class="p-4">
        <h3 class="text-2xl font-semibold">Nombre del Proyecto 4</h3>
        <p class="text-gray-600 mt-2">Descripción breve del proyecto, incluyendo tecnologías utilizadas y objetivos.</p>
        <div class="mt-4 flex space-x-4">
          <a href="enlace-a-github-proyecto2" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">GitHub</a>
          <a href="enlace-a-proyecto2" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Ver Proyecto</a>
        </div>
      </div>
    </div>

    <div class="bg-white rounded-lg shadow-lg overflow-hidden">
      <img src="ruta-a-imagen-proyecto2.jpg" alt="Proyecto 2" class="w-full h-48 object-cover" />
      <div class="p-4">
        <h3 class="text-2xl font-semibold">Nombre del Proyecto 5</h3>
        <p class="text-gray-600 mt-2">Descripción breve del proyecto, incluyendo tecnologías utilizadas y objetivos.</p>
        <div class="mt-4 flex space-x-4">
          <a href="enlace-a-github-proyecto2" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">GitHub</a>
          <a href="enlace-a-proyecto2" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Ver Proyecto</a>
        </div>
      </div>
    </div>
  </div>
</section>