<div class="sidebar bg-black text-white fixed h-full w-60">
    <div class="mb-8 text-center">
      <div class="text-6xl font-extrabold glow-effect mb-2">O</div>
      <div class="text-lg">Orlando Martinez</div>
      <div class="text-sm text-gray-400">Web Developer</div>
    </div>
    <nav>
      <a routerLink="/about" class="menu-link">About</a>
      <a routerLink="/skills" class="menu-link">My Skills</a>
      <a routerLink="/work" class="menu-link">Work</a>
      <a routerLink="/contact" class="menu-link">Contact</a>
    </nav>
  </div>