<div class="sidebar bg-black text-white flex flex-col items-center py-10 transition-all duration-500">
  <div class="mb-8 text-center">
    <div class="text-6xl font-extrabold glow-effect mb-2">O</div>
    <div class="text-lg">Orlando Martinez</div>
    <div class="text-sm text-gray-400">Web Developer</div>
  </div>

  <!-- Menú vertical -->
  <nav class="space-y-4 text-lg font-medium flex flex-col items-center">
    <a routerLink="/About" routerLinkActive="active" class="menu-link transition duration-300">About</a>
    <a routerLink="/skills"  routerLinkActive="active" class="menu-link transition duration-300">My Skills</a>
    <a routerLink="/work"  routerLinkActive="active" class="menu-link transition duration-300">Work</a>
    <a routerLink="/contact"   routerLinkActive="active"class="menu-link transition duration-300">Contact</a>
  </nav>
</div>