<section id="skills" class="min-h-screen">
  <h2 class="text-5xl font-bold mb-6">My Skills</h2>
  <p class="text-xl text-gray-400 mb-6">I specialize in HTML, CSS, JavaScript, React, and WordPress development.</p>
  
  <div class="flex flex-wrap justify-center space-x-4">
    <div class="w-16 h-16 flex items-center justify-center bg-gray-200 rounded-lg shadow-md transition-transform transform hover:scale-105">
      <img src="./public/assets/icons/html-5.png" alt="HTML" class="w-8 h-8" />
    </div>
    <div class="w-16 h-16 flex items-center justify-center bg-gray-200 rounded-lg shadow-md transition-transform transform hover:scale-105">
      <img src="./public/assets/icons/css-3.png" alt="CSS" class="w-8 h-8" />
    </div>
    <div class="w-16 h-16 flex items-center justify-center bg-gray-200 rounded-lg shadow-md transition-transform transform hover:scale-105">
      <img src="./public/assets/icons/js.png" alt="JavaScript" class="w-8 h-8" />
    </div>
    <div class="w-16 h-16 flex items-center justify-center bg-gray-200 rounded-lg shadow-md transition-transform transform hover:scale-105">
      <img src="./public/assets/icons/python.png" alt="Python" class="w-8 h-8" />
    </div>
    <div class="w-16 h-16 flex items-center justify-center bg-gray-200 rounded-lg shadow-md transition-transform transform hover:scale-105">
      <img src="./public/assets/icons/react.png" alt="React" class="w-8 h-8" />
    </div>
  <div class="w-16 h-16 flex items-center justify-center bg-gray-200 rounded-lg shadow-md transition-transform transform hover:scale-105">
    <img src="./public/assets/icons/electron.png" alt="Electron" class="w-8 h-8" />
  </div>
  <div class="w-16 h-16 flex items-center justify-center bg-gray-200 rounded-lg shadow-md transition-transform transform hover:scale-105">
      <img src="./public/assets/icons/angular.png" alt="Angular" class="w-8 h-8" />
    </div>
    <div class="w-16 h-16 flex items-center justify-center bg-gray-200 rounded-lg shadow-md transition-transform transform hover:scale-105">
      <img src="./public/assets/icons/git.png" alt="Git" class="w-8 h-8" />
    </div>
  <div class="w-16 h-16 flex items-center justify-center bg-gray-200 rounded-lg shadow-md transition-transform transform hover:scale-105">
    <img src="./public/assets/icons/mysql.png" alt="MYSQL" class="w-8 h-8" />
  </div>
  <div class="w-16 h-16 flex items-center justify-center bg-gray-200 rounded-lg shadow-md transition-transform transform hover:scale-105">
      <img src="./public/assets/icons/nodejs.png" alt="Node" class="w-8 h-8" />
    </div>
    <div class="w-16 h-16 flex items-center justify-center bg-gray-200 rounded-lg shadow-md transition-transform transform hover:scale-105">
      <img src="./public/assets/icons/bootstrap.png" alt="Bootstrap" class="w-8 h-8" />
    </div>
    <div class="w-16 h-16 flex items-center justify-center bg-gray-200 rounded-lg shadow-md transition-transform transform hover:scale-105">
      <img src="./public/assets/icons/tailwind.png" alt="tailwind" class="w-8 h-8" />
    </div>
  </div>
</section>